/* переменные для значений color */
:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --social-icon-color: #afb1b8;
}

/* стандартные параметры стиля */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

/* стандартные параметры контейнера */
/* xxxxxxxxxxxxxxxxxxxx */

/* дополнительные параметры сброса отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* убираем подчеркивание */
.link {
  text-decoration: none;
}

/* убираем точки из списка <ul> */
.list {
  list-style: none;
}

/*  общий клас контейнер  */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1 solid teal; */
  /* outline: 2px solid red; */
  /* background-color: yellow; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**********************  Header  ******************/

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}
.nav {
  display: flex;
}

.header-list {
  margin-left: 92px;
  display: flex;
}

.header-list :not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  font-weight: 700;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.span-logo {
  color: var(--accent-color);
}

.activ-page {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

/* .auth-nav :not(:last-child){
  display: flex;
margin left: 50px;
} */

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .auth-item + .auth-item {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.footer-contact:hover,
.footer-contact:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.auth-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.icon-contact {
  margin-right: 10px;
}

.header-contact:focus .icon-contact,
.header-contact:hover .icon-contact {
  fill: var(--accent-color);
}

/******************  section hero  ****************/

.hero {
  background-color: var(--background-color);
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  font-size: 16px;
  line-height: calc(30 / 16);

  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);
  background: var(--accent-color);
}

.main-btn:focus,
.main-btn:hover {
  cursor: pointer;

  color: var(--primary-title-color);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*****************  benefits section  ************/

.benefits-list {
  display: flex;
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

.benefits-item {
  width: 270px;
}

.benefits-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits-icon {
}

.list-service {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.item-service {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/****************  activiti section *************/
.activiti {
  padding-bottom: 94px;
  background-color: var(--primary-title-color);
}

.about-activiti {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.activiti-list {
  display: flex;
}

.activiti-list .activiti-item + .activiti-item {
  margin-left: 30px;
}

/******************* team section ****************/

.team {
  background-color: var(--secondary-background-color);
}

.tittle-team {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  background-color: var(--primary-title-color);
  width: 270px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* text-align: center; */
}
.team-item .img {
  margin-bottom: 30px;
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  color: var(--secondary-title-color);
}

.function-team {
  font-size: 36px;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  display: block;
}
.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-title-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
}

/**************** clients section ****************/

.clients-name {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.clients-item {
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-client {
  fill: var(--social-icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .icon-client,
.clients-link:focus .icon-client {
  fill: var(--accent-color);
}

/**#################### Portfolio page  ############**/

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .btn-item + .btn-item {
  margin-left: 8px;
}

.list-price {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.item-price {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-title-color);
}

.portfolio-activ-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}

.portfolio-activ-btn:hover,
.portfolio-activ-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  font-family: inherit;
  font-weight: 500;
  background: var(--primary-title-color);
  display: flex;
  /* margin-right: 30px; */
  /* margin-bottom: 30px; */
}

/* .portfolio-link:nth-child(3n) {
  margin-right: 0px;
} */

/* .portfolio-link:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-block:hover .portfolio-item,
.portfolio-block:focus .portfolio-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* background-color: red; */
}

/********************  Footer  ********************/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-block + .footer-block {
  margin-left: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-title-color);
}

.footer-list .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-title-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--secondary-background-color);

  margin-bottom: 30px;
  display: inline-block;
}

.footer-link-social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-background-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link-social:focus,
.footer-link-social:hover {
  background-color: var(--accent-color);
}

.footer-icon-social {
  width: 20px;
  height: 20px;
}
